In [159]:
import requests   
import json
import pprint
import numpy as np
import pandas as pd
from functools import reduce

In [118]:
indicators = [
    'NY.GDP.PCAP.CD',    # GDP per capita (current US$)    
    'AG.LND.AGRI.ZS',    # Agricultural land (% of land area)
    'EG.ELC.ACCS.ZS',    # Access to electricity (% of population)    
    'SP.POP.SCIE.RD.P6'  # Researchers in R&D (per million people)
]

In [162]:
class WorldBankDataFetcher:
    """
    """
    def __init__(self, indicators):
        self.indicators = indicators
        self.jsons = []
        self.dataframes = []

    def fetch_json_by(indicator):
        print('Fetching:' + indicator)
        url = "http://api.worldbank.org/v2/countries/all/indicators/%s&format=json&per_page=9000" % (indicator + '?date=2006:2018')
        r = requests.get(url)    
        return json.loads(r.content)

    def json_to_df(j):
        indicator_name = j[1][0]['indicator']['value']
        df = pd.DataFrame.from_dict(j[1])
        df['country'] = df[['country']].applymap(lambda x : x['value'])
        df = df[['country', 'countryiso3code', 'date', 'value']]
        df.columns = ['country', 'code', 'date', indicator_name]
        return df
    
    def fetch(self):
        print('Note this cold takes a few minuts depending on the network status...\n...')        
        for i in indicators:
            self.jsons.append(fetch_json_by(i))
            print('Indicator: ' +i + ' fetched!')               
        
        print('Creating data frames...')
        self.dataframes = [json_to_df(j) for j in self.jsons]
        
        print('Merging data frames...')
        self.merged_data = reduce(lambda x, y: x.merge(y, how='outer', on=['country', 'code', 'date']), self.dataframes)        
        
        print('All done!')

In [163]:
fetcher = WorldBankDataFetcher(indicators)
fetcher.fetch()

Note this cold takes a few minuts depending on the network status...
...
Indicator: NY.GDP.PCAP.CD fetched!
Indicator: AG.LND.AGRI.ZS fetched!
Indicator: EG.ELC.ACCS.ZS fetched!
Indicator: SP.POP.SCIE.RD.P6 fetched!
Creating data frames...
Merging data frames...
All done!

In [164]:
fetcher.merged_data

,country,code,date,GDP per capita (current US$),Agricultural land (% of land area),Access to electricity (% of population),Researchers in R&D (per million people)
0,Arab World,,2018,NaN,NaN,NaN,NaN
1,Arab World,,2017,6239.713933,NaN,NaN,NaN
2,Arab World,,2016,6185.063514,36.610850,88.768654,NaN
3,Arab World,,2015,6429.128604,36.624759,88.517967,NaN
4,Arab World,,2014,7456.598173,36.607475,88.076774,NaN
5,Arab World,,2013,7510.729986,36.534503,88.389705,NaN
6,Arab World,,2012,7465.135230,36.472300,87.288244,NaN
7,Arab World,,2011,6856.035033,36.440808,86.782683,NaN
8,Arab World,,2010,5918.315891,36.425990,86.136134,NaN
9,Arab World,,2009,5159.342763,36.372261,85.189815,NaN
10,Arab World,,2008,6116.581229,36.412954,85.432827,NaN
11,Arab World,,2007,4939.530000,36.494163,84.735723,NaN
12,Arab World,,2006,4338.385738,36.489221,85.800296,NaN
13,Caribbean small states,,2018,NaN,NaN,NaN,NaN
14,Caribbean small states,,2017,9448.224139,NaN,NaN,NaN
15,Caribbean small states,,2016,9339.012783,6.268000,96.016309,NaN
16,Caribbean small states,,2015,9835.190116,6.245770,95.568684,NaN
17,Caribbean small states,,2014,10121.310482,6.226504,95.557923,NaN
18,Caribbean small states,,2013,10020.573317,6.215388,94.672223,NaN
19,Caribbean small states,,2012,9978.387147,6.186983,93.625323,NaN
20,Caribbean small states,,2011,9724.124510,6.198839,92.677095,NaN
21,Caribbean small states,,2010,9059.000053,6.198839,93.114511,NaN
22,Caribbean small states,,2009,8381.415142,6.208472,92.368681,NaN
23,Caribbean small states,,2008,10021.612360,6.165246,92.314755,NaN
24,Caribbean small states,,2007,8889.544060,6.199802,91.265510,NaN
25,Caribbean small states,,2006,8016.263621,6.214425,90.039144,NaN
26,Central Europe and the Baltics,,2018,NaN,NaN,NaN,NaN
27,Central Europe and the Baltics,,2017,14159.232421,NaN,NaN,NaN
28,Central Europe and the Baltics,,2016,12764.287726,46.715708,100.000000,NaN
29,Central Europe and the Baltics,,2015,12453.177126,46.988619,100.000000,2143.972349
...,...,...,...,...,...,...,...
3402,"Yemen, Rep.",YEM,2009,1093.812918,44.419190,61.751400,NaN
3403,"Yemen, Rep.",YEM,2008,1203.720733,44.542304,60.386539,NaN
3404,"Yemen, Rep.",YEM,2007,995.353321,44.750649,59.042709,NaN
3405,"Yemen, Rep.",YEM,2006,900.826916,44.750649,55.800335,NaN
3406,Zambia,ZMB,2018,NaN,NaN,NaN,NaN
3407,Zambia,ZMB,2017,1513.276316,NaN,NaN,NaN
3408,Zambia,ZMB,2016,1262.989682,32.063923,27.219337,NaN
3409,Zambia,ZMB,2015,1313.889646,32.063923,31.100000,NaN
3410,Zambia,ZMB,2014,1738.088202,32.063923,27.900000,NaN
3411,Zambia,ZMB,2013,1850.793359,31.929404,25.469702,NaN
3412,Zambia,ZMB,2012,1734.930612,32.063923,24.894667,NaN
3413,Zambia,ZMB,2011,1644.619672,31.794886,24.328644,NaN
3414,Zambia,ZMB,2010,1463.213573,31.525848,22.000000,NaN
3415,Zambia,ZMB,2009,1139.110233,31.727626,23.235649,NaN
3416,Zambia,ZMB,2008,1369.068249,31.056377,22.714685,40.970711
3417,Zambia,ZMB,2007,1104.587985,30.917822,18.500000,NaN
3418,Zambia,ZMB,2006,1030.154199,31.003914,21.737333,NaN
3419,Zimbabwe,ZWE,2018,NaN,NaN,NaN,NaN
3420,Zimbabwe,ZWE,2017,1333.395663,NaN,NaN,NaN
3421,Zimbabwe,ZWE,2016,1272.335450,41.876696,38.145138,NaN
3422,Zimbabwe,ZWE,2015,1265.294413,41.876696,33.700000,NaN
3423,Zimbabwe,ZWE,2014,1264.983826,41.876696,32.300000,NaN
3424,Zimbabwe,ZWE,2013,1268.126633,41.876696,37.076813,NaN
3425,Zimbabwe,ZWE,2012,1163.418689,41.876696,36.728878,88.723770
3426,Zimbabwe,ZWE,2011,980.208824,42.393693,36.900000,NaN
3427,Zimbabwe,ZWE,2010,854.847665,41.876696,36.063057,NaN
3428,Zimbabwe,ZWE,2009,699.882264,42.135195,43.369082,NaN
3429,Zimbabwe,ZWE,2008,325.678570,42.522942,35.457310,NaN
3430,Zimbabwe,ZWE,2007,396.998217,41.876696,35.184479,NaN
3431,Zimbabwe,ZWE,2006,414.796232,42.135195,37.200000,NaN

In [111]:
j0 = fetch_json_by(indicators[0])
d0 = json_to_df(j0)
d0

                             country code  date  GDP per capita (current US$)
0                         Arab World       2018                           NaN
1                         Arab World       2017                   6239.713933
2                         Arab World       2016                   6185.063514
3                         Arab World       2015                   6429.128604
4                         Arab World       2014                   7456.598173
5                         Arab World       2013                   7510.729986
6                         Arab World       2012                   7465.135230
7                         Arab World       2011                   6856.035033
8                         Arab World       2010                   5918.315891
9                         Arab World       2009                   5159.342763
10                        Arab World       2008                   6116.581229
11                        Arab World       2007                   4939.530000
12                        Arab World       2006                   4338.385738
13            Caribbean small states       2018                           NaN
14            Caribbean small states       2017                   9448.224139
15            Caribbean small states       2016                   9339.012783
16            Caribbean small states       2015                   9835.190116
17            Caribbean small states       2014                  10121.310482
18            Caribbean small states       2013                  10020.573317
19            Caribbean small states       2012                   9978.387147
20            Caribbean small states       2011                   9724.124510
21            Caribbean small states       2010                   9059.000053
22            Caribbean small states       2009                   8381.415142
23            Caribbean small states       2008                  10021.612360
24            Caribbean small states       2007                   8889.544060
25            Caribbean small states       2006                   8016.263621
26    Central Europe and the Baltics       2018                           NaN
27    Central Europe and the Baltics       2017                  14159.232421
28    Central Europe and the Baltics       2016                  12764.287726
29    Central Europe and the Baltics       2015                  12453.177126
...                              ...  ...   ...                           ...
3402                     Yemen, Rep.  YEM  2009                   1093.812918
3403                     Yemen, Rep.  YEM  2008                   1203.720733
3404                     Yemen, Rep.  YEM  2007                    995.353321
3405                     Yemen, Rep.  YEM  2006                    900.826916
3406                          Zambia  ZMB  2018                           NaN
3407                          Zambia  ZMB  2017                   1513.276316
3408                          Zambia  ZMB  2016                   1262.989682
3409                          Zambia  ZMB  2015                   1313.889646
3410                          Zambia  ZMB  2014                   1738.088202
3411                          Zambia  ZMB  2013                   1850.793359
3412                          Zambia  ZMB  2012                   1734.930612
3413                          Zambia  ZMB  2011                   1644.619672
3414                          Zambia  ZMB  2010                   1463.213573
3415                          Zambia  ZMB  2009                   1139.110233
3416                          Zambia  ZMB  2008                   1369.068249
3417                          Zambia  ZMB  2007                   1104.587985
3418                          Zambia  ZMB  2006                   1030.154199
3419                        Zimbabwe  ZWE  2018                           NaN
3420                        Zimbabwe  ZWE  2017                   1333.395663
3421                        Zimbabwe  ZWE  2016                   1272.335450
3422                        Zimbabwe  ZWE  2015                   1265.294413
3423                        Zimbabwe  ZWE  2014                   1264.983826
3424                        Zimbabwe  ZWE  2013                   1268.126633
3425                        Zimbabwe  ZWE  2012                   1163.418689
3426                        Zimbabwe  ZWE  2011                    980.208824
3427                        Zimbabwe  ZWE  2010                    854.847665
3428                        Zimbabwe  ZWE  2009                    699.882264
3429                        Zimbabwe  ZWE  2008                    325.678570
3430                        Zimbabwe  ZWE  2007                    396.998217
3431                        Zimbabwe  ZWE  2006                    414.796232

[3432 rows x 4 columns]

In [112]:
j1 = fetch_json_by(indicators[1])
d1 = json_to_df(j1)
d1

,country,code,date,Agricultural land (% of land area)
0,Arab World,,2018,NaN
1,Arab World,,2017,NaN
2,Arab World,,2016,36.610850
3,Arab World,,2015,36.624759
4,Arab World,,2014,36.607475
5,Arab World,,2013,36.534503
6,Arab World,,2012,36.472300
7,Arab World,,2011,36.440808
8,Arab World,,2010,36.425990
9,Arab World,,2009,36.372261
10,Arab World,,2008,36.412954
11,Arab World,,2007,36.494163
12,Arab World,,2006,36.489221
13,Caribbean small states,,2018,NaN
14,Caribbean small states,,2017,NaN
15,Caribbean small states,,2016,6.268000
16,Caribbean small states,,2015,6.245770
17,Caribbean small states,,2014,6.226504
18,Caribbean small states,,2013,6.215388
19,Caribbean small states,,2012,6.186983
20,Caribbean small states,,2011,6.198839
21,Caribbean small states,,2010,6.198839
22,Caribbean small states,,2009,6.208472
23,Caribbean small states,,2008,6.165246
24,Caribbean small states,,2007,6.199802
25,Caribbean small states,,2006,6.214425
26,Central Europe and the Baltics,,2018,NaN
27,Central Europe and the Baltics,,2017,NaN
28,Central Europe and the Baltics,,2016,46.715708
29,Central Europe and the Baltics,,2015,46.988619
...,...,...,...,...
3402,"Yemen, Rep.",YEM,2009,44.419190
3403,"Yemen, Rep.",YEM,2008,44.542304
3404,"Yemen, Rep.",YEM,2007,44.750649
3405,"Yemen, Rep.",YEM,2006,44.750649
3406,Zambia,ZMB,2018,NaN
3407,Zambia,ZMB,2017,NaN
3408,Zambia,ZMB,2016,32.063923
3409,Zambia,ZMB,2015,32.063923
3410,Zambia,ZMB,2014,32.063923
3411,Zambia,ZMB,2013,31.929404
3412,Zambia,ZMB,2012,32.063923
3413,Zambia,ZMB,2011,31.794886
3414,Zambia,ZMB,2010,31.525848
3415,Zambia,ZMB,2009,31.727626
3416,Zambia,ZMB,2008,31.056377
3417,Zambia,ZMB,2007,30.917822
3418,Zambia,ZMB,2006,31.003914
3419,Zimbabwe,ZWE,2018,NaN
3420,Zimbabwe,ZWE,2017,NaN
3421,Zimbabwe,ZWE,2016,41.876696
3422,Zimbabwe,ZWE,2015,41.876696
3423,Zimbabwe,ZWE,2014,41.876696
3424,Zimbabwe,ZWE,2013,41.876696
3425,Zimbabwe,ZWE,2012,41.876696
3426,Zimbabwe,ZWE,2011,42.393693
3427,Zimbabwe,ZWE,2010,41.876696
3428,Zimbabwe,ZWE,2009,42.135195
3429,Zimbabwe,ZWE,2008,42.522942
3430,Zimbabwe,ZWE,2007,41.876696
3431,Zimbabwe,ZWE,2006,42.135195

In [113]:
j2 = fetch_json_by(indicators[2])
d2 = json_to_df(j2)
d2

,country,code,date,Access to electricity (% of population)
0,Arab World,,2018,NaN
1,Arab World,,2017,NaN
2,Arab World,,2016,88.768654
3,Arab World,,2015,88.517967
4,Arab World,,2014,88.076774
5,Arab World,,2013,88.389705
6,Arab World,,2012,87.288244
7,Arab World,,2011,86.782683
8,Arab World,,2010,86.136134
9,Arab World,,2009,85.189815
10,Arab World,,2008,85.432827
11,Arab World,,2007,84.735723
12,Arab World,,2006,85.800296
13,Caribbean small states,,2018,NaN
14,Caribbean small states,,2017,NaN
15,Caribbean small states,,2016,96.016309
16,Caribbean small states,,2015,95.568684
17,Caribbean small states,,2014,95.557923
18,Caribbean small states,,2013,94.672223
19,Caribbean small states,,2012,93.625323
20,Caribbean small states,,2011,92.677095
21,Caribbean small states,,2010,93.114511
22,Caribbean small states,,2009,92.368681
23,Caribbean small states,,2008,92.314755
24,Caribbean small states,,2007,91.265510
25,Caribbean small states,,2006,90.039144
26,Central Europe and the Baltics,,2018,NaN
27,Central Europe and the Baltics,,2017,NaN
28,Central Europe and the Baltics,,2016,100.000000
29,Central Europe and the Baltics,,2015,100.000000
...,...,...,...,...
3402,"Yemen, Rep.",YEM,2009,61.751400
3403,"Yemen, Rep.",YEM,2008,60.386539
3404,"Yemen, Rep.",YEM,2007,59.042709
3405,"Yemen, Rep.",YEM,2006,55.800335
3406,Zambia,ZMB,2018,NaN
3407,Zambia,ZMB,2017,NaN
3408,Zambia,ZMB,2016,27.219337
3409,Zambia,ZMB,2015,31.100000
3410,Zambia,ZMB,2014,27.900000
3411,Zambia,ZMB,2013,25.469702
3412,Zambia,ZMB,2012,24.894667
3413,Zambia,ZMB,2011,24.328644
3414,Zambia,ZMB,2010,22.000000
3415,Zambia,ZMB,2009,23.235649
3416,Zambia,ZMB,2008,22.714685
3417,Zambia,ZMB,2007,18.500000
3418,Zambia,ZMB,2006,21.737333
3419,Zimbabwe,ZWE,2018,NaN
3420,Zimbabwe,ZWE,2017,NaN
3421,Zimbabwe,ZWE,2016,38.145138
3422,Zimbabwe,ZWE,2015,33.700000
3423,Zimbabwe,ZWE,2014,32.300000
3424,Zimbabwe,ZWE,2013,37.076813
3425,Zimbabwe,ZWE,2012,36.728878
3426,Zimbabwe,ZWE,2011,36.900000
3427,Zimbabwe,ZWE,2010,36.063057
3428,Zimbabwe,ZWE,2009,43.369082
3429,Zimbabwe,ZWE,2008,35.457310
3430,Zimbabwe,ZWE,2007,35.184479
3431,Zimbabwe,ZWE,2006,37.200000

In [116]:
pd.merge(d0, d1, how='left', on=['country', 'date', 'code'])

,country,code,date,GDP per capita (current US$),Agricultural land (% of land area)
0,Arab World,,2018,NaN,NaN
1,Arab World,,2017,6239.713933,NaN
2,Arab World,,2016,6185.063514,36.610850
3,Arab World,,2015,6429.128604,36.624759
4,Arab World,,2014,7456.598173,36.607475
5,Arab World,,2013,7510.729986,36.534503
6,Arab World,,2012,7465.135230,36.472300
7,Arab World,,2011,6856.035033,36.440808
8,Arab World,,2010,5918.315891,36.425990
9,Arab World,,2009,5159.342763,36.372261
10,Arab World,,2008,6116.581229,36.412954
11,Arab World,,2007,4939.530000,36.494163
12,Arab World,,2006,4338.385738,36.489221
13,Caribbean small states,,2018,NaN,NaN
14,Caribbean small states,,2017,9448.224139,NaN
15,Caribbean small states,,2016,9339.012783,6.268000
16,Caribbean small states,,2015,9835.190116,6.245770
17,Caribbean small states,,2014,10121.310482,6.226504
18,Caribbean small states,,2013,10020.573317,6.215388
19,Caribbean small states,,2012,9978.387147,6.186983
20,Caribbean small states,,2011,9724.124510,6.198839
21,Caribbean small states,,2010,9059.000053,6.198839
22,Caribbean small states,,2009,8381.415142,6.208472
23,Caribbean small states,,2008,10021.612360,6.165246
24,Caribbean small states,,2007,8889.544060,6.199802
25,Caribbean small states,,2006,8016.263621,6.214425
26,Central Europe and the Baltics,,2018,NaN,NaN
27,Central Europe and the Baltics,,2017,14159.232421,NaN
28,Central Europe and the Baltics,,2016,12764.287726,46.715708
29,Central Europe and the Baltics,,2015,12453.177126,46.988619
...,...,...,...,...,...
3402,"Yemen, Rep.",YEM,2009,1093.812918,44.419190
3403,"Yemen, Rep.",YEM,2008,1203.720733,44.542304
3404,"Yemen, Rep.",YEM,2007,995.353321,44.750649
3405,"Yemen, Rep.",YEM,2006,900.826916,44.750649
3406,Zambia,ZMB,2018,NaN,NaN
3407,Zambia,ZMB,2017,1513.276316,NaN
3408,Zambia,ZMB,2016,1262.989682,32.063923
3409,Zambia,ZMB,2015,1313.889646,32.063923
3410,Zambia,ZMB,2014,1738.088202,32.063923
3411,Zambia,ZMB,2013,1850.793359,31.929404
3412,Zambia,ZMB,2012,1734.930612,32.063923
3413,Zambia,ZMB,2011,1644.619672,31.794886
3414,Zambia,ZMB,2010,1463.213573,31.525848
3415,Zambia,ZMB,2009,1139.110233,31.727626
3416,Zambia,ZMB,2008,1369.068249,31.056377
3417,Zambia,ZMB,2007,1104.587985,30.917822
3418,Zambia,ZMB,2006,1030.154199,31.003914
3419,Zimbabwe,ZWE,2018,NaN,NaN
3420,Zimbabwe,ZWE,2017,1333.395663,NaN
3421,Zimbabwe,ZWE,2016,1272.335450,41.876696
3422,Zimbabwe,ZWE,2015,1265.294413,41.876696
3423,Zimbabwe,ZWE,2014,1264.983826,41.876696
3424,Zimbabwe,ZWE,2013,1268.126633,41.876696
3425,Zimbabwe,ZWE,2012,1163.418689,41.876696
3426,Zimbabwe,ZWE,2011,980.208824,42.393693
3427,Zimbabwe,ZWE,2010,854.847665,41.876696
3428,Zimbabwe,ZWE,2009,699.882264,42.135195
3429,Zimbabwe,ZWE,2008,325.678570,42.522942
3430,Zimbabwe,ZWE,2007,396.998217,41.876696
3431,Zimbabwe,ZWE,2006,414.796232,42.135195